

body{
margin:0 auto;
  background:url("../images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 
}    
.box{
width:400px;
height:480px;
background:rgba(0.2,0.2,0.2,0.6);


margin:100px auto;

text-align: center;
  border-radius:5px;
}

.box h1{

    color:white;
    text-align: center;
    font-size: 50px;
}

input[type="text"],input[type="email"],input[type="password"]{
 width:300px;
 height:30px;
 margin-bottom: 25px;
 font-size: 15px;
 border:1px solid black;
 padding-left: 45px;

}

.icon{
    position: absolute;
    padding-top: 8px;
    margin-right: 15px;
    width:45px;
}
 button[type="submit"]{
      background:green;
      cursor: pointer;
      width:150px;
      height:35px;
      border: 1px solid black;
      font-size:20px;
      color: white;
   border-radius:20px;
    }