.about{
<<<<<<< HEAD
			font-size: 40px;
            font-family: Lora,serif;
            letter-spacing: 3px;
            color: #fff;
            text-align: center;
            margin-bottom: 2px;
   		    padding: 0 40px;
    	    font-weight: 400;
    		text-transform: uppercase;
    		margin-top: 0;
    		padding-top: 40px;
		}
		.main{
			text-align:justify;
			width:50%;
			float: right;
			font-size:15px;
			color: #fff;
            letter-spacing: .05em;
			font-family: montserratlight , sans-serif;
			line-height: 170%;
            margin-right:16%;
		} 
		li:before{
			content: "\25C8";
			color:gold;
			margin-right:5px;
		}
		ul{
			list-style-type: none;
			clear:both;
			margin-left:27%;
			color:white;
		}
		.we{
			clear:both;
			margin-left:27%;
			color:white;
		}
		.foot
	   {
         margin-left:92%;
         color:#fff;
         margin-top:40%;
		}	
		.txt
		{
			background-color: #fff;
			font color: black;
			clear:both;
			margin-left:27%;
			text-align:justify;
			width:50%;
			float: right;
			font-size:15px;
            letter-spacing: .05em;
			font-family: montserratlight , sans-serif;
			line-height: 170%;
            margin-right:16%;
		}
		.side
		{
			margin-right: 10px;

		}
		ul.con li{
       width: auto;
       float: left;
       margin-right: 5%;
       margin-top: 20px;
       }
       ul.con li::before
       {
       	content:" ";
       }

    
    
    
    
=======
	font-size: 40px;
    font-family: Lora,serif;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
    margin-bottom: 2px;
    padding: 0 40px;
    font-weight: 400;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 40px;
}
.main{
	text-align:justify;
	width:50%;
	float: right;
	font-size:15px;
	color: #fff;
    letter-spacing: .05em;
	font-family: montserratlight , sans-serif;
	line-height: 170%;
    margin-right:16%;
} 
li:before{
	content: "\25C8";
	color:gold;
	margin-right:5px;
}
ul{
	list-style-type: none;
	clear:both;
	margin-left:27%;
	color:white;
}
.we{
	clear:both;
	margin-left:27%;
	color:white;
}
.foot{	
 margin-left:91%;
 color:#fff;
}	
.txt
{
	background-color: #fff;
	color: black;
	clear:both;
	margin-left:27%;
	width:50%;
	float: right;
	font-size:15px;
    letter-spacing: .05em;
	font-family: montserratlight , sans-serif;
	line-height: 170%;
	margin-right:16%;
	border-collapse: collapse;
}
.txt, th, td{
	border: 2px solid grey;
}
#amount {
	text-align: center;
	font-weight: bold;
}
>>>>>>> c7b06323aa51c8ad274fe5a93c843d3bba8a6e99
