.about{
			font-size: 40px;
            font-family: Lora,serif;
            letter-spacing: 3px;
            color: #fff;
            text-align: center;
            margin-bottom: 2px;
   		    padding: 0 40px;
    	    font-weight: 400;
    		text-transform: uppercase;
    		margin-top: 0;
    		padding-top: 40px;
		}
		.main{
			text-align:justify;
			width:50%;
			float: right;
			font-size:15px;
			color: #fff;
            letter-spacing: .05em;
			font-family: montserratlight , sans-serif;
			line-height: 170%;
            margin-right:16%;
		} 
		li:before{
			content: "\25C8";
			color:gold;
			margin-right:5px;
		}
		ul{
			list-style-type: none;
			clear:both;
			margin-left:27%;
			color:white;
		}
		.we{
			clear:both;
			margin-left:27%;
			color:white;
		}
   
    
    
    
    