body {
    background: url('./images/background.png');
    background-repeat: repeat;

}
.info{
  float: left;
}
.info a{
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-right: 20px;
  cursor: default;
}
.social{
  float: right;
}
.social a{
  margin-right: 10px;
  cursor: default;
}
.fab {
  color: white;
}
.inf a{
  text-decoration: none;
  color: white;
  display: inline-block;
  cursor: default;

}



/* scrolling nav----------------------*/

#navbar {
  overflow: hidden;
  background-color: transparent;
  padding: 20px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 25; /* At the top */
  z-index: 99; 
}

/* Style the navbar links */
#navbar a {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 30px;
  border-radius: 4px;
  font-family: sans-serif;
}


#navbar #logo
{
  position: relative;
  left: 50%;
  margin-top: 0px;
  margin-left: -50px !important;
  display: block;

}


/* Links on mouse-over */
#navbar a:hover {
  /*background-color: #ddd;*/
  color: gold;
  outline-style: solid;
}

/* Style the active/current link */
#navbar a:active {
  outline-style: solid;
  color: gold;
}

#navbar #right{
  padding-right: 50px;
}



/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 500px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }

  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}




/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
