body {
    background: url('./images/background.png');
    background-repeat: repeat;

}
.info{
  float: left;
}
.info a{
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-right: 20px;
  cursor: default;
}
.social{
  float: right;
}
.social a{
  margin-right: 10px;
  cursor: default;
}
.fab {
  color: white;
}
.inf a{
  text-decoration: none;
  color: white;
  display: inline-block;
  cursor: default;

}
/*-------------------------------------------NAVBAR CODE------------------*/
#back{
	position: absolute;
	top: 20px;
	width: 100%;
	height: 150px;
	background: black;
	filter: blur(90px);
}
nav{
	transition: .5s ease;	
	position: absolute;
	width: 100%;
	height: 100px;
	top: 20px;
	z-index: 90;
}
nav #inner{
	transition: .5s ease;	
	position: relative;
	margin: 0 auto;
	width: 80%;
}
nav #inner .list{
	/*position: absolute;*/
	transition: .5s ease;	
	display: flex;
	list-style: none;
	line-height: 120px;
	
}
.list li{
	position: relative;
	transition: .5s ease;	
	height: 90px;
	margin: 0 10px;
}
.list li a{
	transition: .5s ease;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: montserratregular,sans-serif;
	font-size: 12px;
	padding: 5px 8px;
	text-align: center;
	border: 1px solid;
	border-color: transparent;
	letter-spacing: .06em;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
}
.list li:hover>a{
	border: 1px solid gold;
}
.list2{
	display: none;
	text-align: center;
	background: white;
	position: absolute;
	z-index:2;
	list-style: none;
	top: 90px;
	left: 0;
	line-height: 50px;
	height: auto;
}
.list2::before{
	content: " ";
	position: absolute;
	transform: rotate(45deg);
	height: 15px;
	width: 15px;
	background: white;
	top: -5px;
	left: 20px;
	z-index: -1;
}
.list2 li{
	/*position: relative;*/
	transition: .0s ease !important;
	width: 200px;
	top: 0;
	height: auto;
	margin: 0;
}
.list2 li a{
	color: black !important;
	transition: .0s ease !important;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: montserratregular,sans-serif;
	font-size: 13px;
	padding: 5px 8px;
	border-bottom: 1px solid #d4d0ca;
	text-align: center;
	letter-spacing: .06em;
	font-weight: 400;
}
.list2 li:hover,.list2 li:hover>a{
background: grey;
color: white !important;
border:none !important;
}

.list li:hover>.list2{
	display: inline-block;
}
.list .logo{
	transition: .5s ease;	
	position: relative;
	padding: 10px;
}
.list .logo img{
	transition: .5s ease;	
	width: 150px;
}
.book{
	display: none;
}
.book a{
	color: black !important;
	border:1px solid black  !important;
	background: gold;
	font-size: 10px  !important;
	padding: 5px 10px  !important;
}
.book:hover>a{
	background: black;
	color: gold !important;
	border:1px solid gold !important;
}