
body{
  background: url('../images/background.png');
    background-repeat: repeat;
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
  color: black;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:black;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:gold;
  font-weight:bold;
}

header a:hover{
  color:gold;
  font-weight:bold;
}
#showcase{
	text-align: center;
}
#gallery{
	border: 1px ;
	margin: auto;
	width: 800px;
	padding: 5px;
	height: 770px;
}
#thumbs{
width:150px;
height: 150px;
padding: 10px;
border: 1px solid black;
float:left;
margin-left:15px;
margin-right:11px;
margin-top: 10px;
margin-bottom:10px;

}
#thumbs img{
	width:100%;
	height: 100%;
	}
.lightbox{
	visibility: hidden;
	position:fixed;
	top: 0;
	left: 0;
	opacity: 0;
	background-color:none;
	height:100%;
	width: 100%;
	}
.lightbox:target{
	visibility:visible;
    opacity: 1;
	transition: opacity 2s;
}	

#outer{
	background-color:#35424a;
	width: min-content;
	margin:auto;
	margin-top:150px;
	box-shadow:5px 5px 5px #e8491d;
	padding: 15px;	
}
#inner img{
	max-height:300px;
	max-width:800px;
}
.lightbox a{
	text-decoration: none;
	font-size:20px;
	color: #e8491d;
}
#cross{
	float: right;
}
#next{
	float: right;
}
footer{
  padding:15px;
  margin-top:20px;
  color:#ffffff;
  background-color:black;
  text-align: right;
  border-top:#e8491d 3px solid;
}
#head{
	font-size:50px;
}
@media (max-width: 567px){

  #thumbs{
    float:none;
  }
}